<a href="https://colab.research.google.com/github/sasi-nk/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

#Dictionary

In [ ]:
dict_a = {'abc':123, 'def':456, 'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
# เรียกค่าออกมาจาก dict
# dict จะเรียกไม่เหมือน list เพราะไม่มีลำดับ
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] =123

In [ ]:
dict_b

{'a': 123}

In [ ]:
dict_b['a'] = 567

In [ ]:
# add ค่าใหม่เข้ามาแล้ว ค่าเก่าจะหายไป
dict_b

{'a': 567}

## การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้ ถ้าขาดจะ error)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(name): # ตัวอย่าง funtion ที่มีครบทุกส่วน
  st = f'ชื่อ {name}'
  return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat')
a

'ชื่อ stat'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('อินทระ','66xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 66xxxxxx'

In [ ]:
print_fullname(name='ศศิกานต์',surname='ทิพย์สูงเนิน',ID='663020297-1')

'ชื่อ ศศิกานต์ นามสกุล ทิพย์สูงเนิน รหัส 663020297-1'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
print(out_printname2)

None

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8') # ไม่ได้ set default

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย') # ใส่ไม่ครบ

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5
เขียน function ของ HW2

commit "quiz5"

In [ ]:
# 12:30:15, Wednesday - 13:41:07, Thursday
# 12:53:15, Monday - 00:59:25, Tuesday
# 16:06:09, Sunday - 11:11:11, Tuesday

In [ ]:
def time_to_sec(time_str):
    time_list = time_str.split(':')
    time_sec = int(time_list[0])*3600 + int(time_list[1])*60 + int(time_list[2])
    return time_sec


data = [  "12:30:15, Wednesday - 13:41:07, Thursday",
          "12:53:15, Monday - 00:59:25, Tuesday",
          "16:06:09, Sunday - 11:11:11, Tuesday"
]

day_to_number = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3,
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6
}

In [ ]:
# prompt: ช่วยเขียนฟังก์ชันในการคำนวณเวลาตามที่กำหนดมาเป็นวินาที

def total_seconds(time_day_str):
    time_str, day_str = time_day_str.split(', ')
    seconds_in_day = time_to_sec(time_str)
    day_number = day_to_number[day_str]
    return (day_number - 1) * 24 * 3600 + seconds_in_day

def calculate_time_difference(time_range_str):
    start_time_day_str, end_time_day_str = time_range_str.split(' - ')
    start_total_sec = total_seconds(start_time_day_str)
    end_total_sec = total_seconds(end_time_day_str)

    # Handle cases where the end time is on a later day
    if end_total_sec < start_total_sec:
         # Assume the week loops around, add 7 days worth of seconds to the end time
         end_total_sec += 7 * 24 * 3600

    return end_total_sec - start_total_sec

for time_range in data:
    difference_in_seconds = calculate_time_difference(time_range)
    print(f"เวลาที่คำนวณได้สำหรับ '{time_range}': {difference_in_seconds} วินาที")

เวลาที่คำนวณได้สำหรับ '12:30:15, Wednesday - 13:41:07, Thursday': 90652 วินาที
เวลาที่คำนวณได้สำหรับ '12:53:15, Monday - 00:59:25, Tuesday': 43570 วินาที
เวลาที่คำนวณได้สำหรับ '16:06:09, Sunday - 11:11:11, Tuesday': 155102 วินาที

# Quiz6

เขียน funtion ของ HW2 -> มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

commit "quiz6"

In [ ]:
# prompt: ช่วยสร้างฟังก์ชันโดยมีการใช้ค่า default ของ input

def calculate_time_difference_default(time_range_str, default_day=None):
    start_time_day_str, end_time_day_str = time_range_str.split(' - ')

    # Split time and day for the start
    start_parts = start_time_day_str.split(', ')
    start_time_str = start_parts[0]
    start_day_str = start_parts[1] if len(start_parts) > 1 else default_day

    # Split time and day for the end
    end_parts = end_time_day_str.split(', ')
    end_time_str = end_parts[0]
    end_day_str = end_parts[1] if len(end_parts) > 1 else default_day

    # If a default day was provided, use it for both if they were not explicitly given
    if default_day is not None:
        if len(start_parts) == 1:
            start_day_str = default_day
        if len(end_parts) == 1:
            end_day_str = default_day

    # Reconstruct the time_day strings with potentially defaulted days
    start_time_day_str_full = f"{start_time_str}, {start_day_str}"
    end_time_day_str_full = f"{end_time_str}, {end_day_str}"


    start_total_sec = total_seconds(start_time_day_str_full)
    end_total_sec = total_seconds(end_time_day_str_full)

    # Handle cases where the end time is on a later day
    if end_total_sec < start_total_sec:
         # Assume the week loops around, add 7 days worth of seconds to the end time
         end_total_sec += 7 * 24 * 3600

    return end_total_sec - start_total_sec

# Example usage with default day
data_with_default = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday"
]

for time_range in data_with_default:
    # We can set the default day when calling the function
    difference_in_seconds = calculate_time_difference_default(time_range, default_day='Wednesday')
    print(f"เวลาที่คำนวณได้สำหรับ '{time_range}': {difference_in_seconds} วินาที")

เวลาที่คำนวณได้สำหรับ '12:30:15, Wednesday - 13:41:07, Thursday': 90652 วินาที
เวลาที่คำนวณได้สำหรับ '12:53:15, Monday - 00:59:25, Tuesday': 43570 วินาที
เวลาที่คำนวณได้สำหรับ '16:06:09, Sunday - 11:11:11, Tuesday': 155102 วินาที

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

#inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp

- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc', 'def')

abc def

In [ ]:
print('abc', 'def', sep='+')

abc+def

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [1]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [2]:
for i in 'Thanapong':
    print(i, end =  '-> /\n' )  #\n ขึ้นบรรทัดใหม่

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [3]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [4]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [5]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(-3,20,4)) #ตัวที่ 3 เป็น step

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [7]:
index = 0
for i in 'Thanapong' :
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [9]:
#เขียนแบบ python
for index, i in enumerate('Thanapong') :
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [10]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [11]:
# prompt: สร้างวนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [12]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [13]:
list_friends = ['เหมียว','พี่ส้ม','แตงโม','น้องหมา','พี่น้องอุ่น','ผัดไทย']

In [14]:
print_feelings('น้องริน',list_friends)

น้องริน คิดถึง เหมียว
น้องริน คิดถึง พี่ส้ม
น้องริน คิดถึง แตงโม
น้องริน คิดถึง น้องหมา
น้องริน คิดถึง พี่น้องอุ่น
น้องริน คิดถึง ผัดไทย

In [15]:
print_feelings('น้องริน', 'น้องหมา')

น้องริน คิดถึง น
น้องริน คิดถึง ้
น้องริน คิดถึง อ
น้องริน คิดถึง ง
น้องริน คิดถึง ห
น้องริน คิดถึง ม
น้องริน คิดถึง า

In [16]:
print_feelings('น้องริน',list_friends,feeling='ไม่ชอบ')

น้องริน ไม่ชอบ เหมียว
น้องริน ไม่ชอบ พี่ส้ม
น้องริน ไม่ชอบ แตงโม
น้องริน ไม่ชอบ น้องหมา
น้องริน ไม่ชอบ พี่น้องอุ่น
น้องริน ไม่ชอบ ผัดไทย

[สำหรับดูโน้ต](https://nbviewer.org/)

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

## looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [17]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [18]:
name_grade['ปนัดดา']

'A'

In [19]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [20]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [21]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [22]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# ตัวอย่าง Quiz 6

In [4]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

def time_to_sec(time_str):
    time_list = time_str.split(':')
    time_sec = int(time_list[0])*3600 + int(time_list[1])*60 + int(time_list[2])
    return time_sec

def total_seconds_with_day(time_str, day_str):
    day_to_number = {
        "Monday": 0,
        "Tuesday": 1,
        "Wednesday": 2,
        "Thursday": 3,
        "Friday": 4,
        "Saturday": 5,
        "Sunday": 6
    }
    seconds_in_day = time_to_sec(time_str)
    day_number = day_to_number[day_str]
    return day_number * 24 * 3600 + seconds_in_day

def calculate_time_difference_day(time_range_str):
    start_time_day_str, end_time_day_str = time_range_str.split(' - ')

    # Extract time and day for start
    start_parts = start_time_day_str.split(', ')
    start_time = start_parts[0]
    start_day = start_parts[1]

    # Extract time and day for end
    end_parts = end_time_day_str.split(', ')
    end_time = end_parts[0]
    end_day = end_parts[1]

    start_total_sec = total_seconds_with_day(start_time, start_day)
    end_total_sec = total_seconds_with_day(end_time, end_day)

    # Handle cases where the end time is on a later day in the week
    # If the end is earlier in the week than the start, assume it's the next week
    if end_total_sec < start_total_sec:
        end_total_sec += 7 * 24 * 3600

    return end_total_sec - start_total_sec

data_with_day = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday"
]

for time_range in data_with_day:
    difference_in_seconds = calculate_time_difference_day(time_range)
    print(f"เวลาที่คำนวณได้สำหรับ '{time_range}': {difference_in_seconds} วินาที")

เวลาที่คำนวณได้สำหรับ '12:30:15, Wednesday - 13:41:07, Thursday': 90652 วินาที
เวลาที่คำนวณได้สำหรับ '12:53:15, Monday - 00:59:25, Tuesday': 43570 วินาที
เวลาที่คำนวณได้สำหรับ '16:06:09, Sunday - 11:11:11, Tuesday': 155102 วินาที

In [1]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2):
  """
  คำนวณความแตกต่างของเวลาในหน่วยวินาทีระหว่างสองเวลาและวันในสัปดาห์

  Args:
    time_str1: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาแรก
    weekday1: วันในสัปดาห์สำหรับเวลาแรก (0=วันจันทร์, 6=วันอาทิตย์)
    time_str2: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาที่สอง
    weekday2: วันในสัปดาห์สำหรับเวลาที่สอง (0=วันจันทร์, 6=วันอาทิตย์)

  Returns:
    จำนวนวินาทีที่แตกต่างกัน
  """
  day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
  # Mapping weekdays to a common reference point (e.g., seconds from the beginning of the week)
  seconds_per_day = 24 * 3600

  def parse_time_and_weekday(time_str, weekday):
    h, m, s = map(int, time_str.split(':'))
    # Calculate total seconds from the beginning of the week
    total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
    return total_seconds

  total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
  total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

  return abs(total_seconds1 - total_seconds2)

# Example usage:
time1 = "10:00:00"
day1 = 'Tuesday'
time2 = "11:30:00"
day2 = 'Thursday'

diff_seconds = time_difference_in_seconds(time1, day1, time2, day2)
print(f"ความแตกต่างของเวลาระหว่าง {time1} วัน {day1} และ {time2} วัน {day2} คือ {diff_seconds} วินาที")

time3 = "23:00:00"
day3 = 'Sunday'
time4 = "01:00:00"
day4 = 'Monday'

diff_seconds2 = time_difference_in_seconds(time3, day3, time4, day4)
print(f"ความแตกต่างของเวลาระหว่าง {time3} วัน {day3} และ {time4} วัน {day4} คือ {diff_seconds2} วินาที")

ความแตกต่างของเวลาระหว่าง 10:00:00 วัน Tuesday และ 11:30:00 วัน Thursday คือ 178200 วินาที
ความแตกต่างของเวลาระหว่าง 23:00:00 วัน Sunday และ 01:00:00 วัน Monday คือ 597600 วินาที

In [2]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
  """
  คำนวณความแตกต่างของเวลาในหน่วยวินาทีระหว่างสองเวลาและวันในสัปดาห์

  Args:
    time_str1: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาแรก
    weekday1: วันในสัปดาห์สำหรับเวลาแรก (0=วันจันทร์, 6=วันอาทิตย์)
    time_str2: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาที่สอง
    weekday2: วันในสัปดาห์สำหรับเวลาที่สอง (0=วันจันทร์, 6=วันอาทิตย์)

  Returns:
    จำนวนวินาทีที่แตกต่างกัน
  """
  day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
  # Mapping weekdays to a common reference point (e.g., seconds from the beginning of the week)
  seconds_per_day = 24 * 3600

  def parse_time_and_weekday(time_str, weekday):
    h, m, s = map(int, time_str.split(':'))
    # Calculate total seconds from the beginning of the week
    total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
    return total_seconds
  if weekday2 is None:
    weekday2 = weekday1
  total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
  total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

  return abs(total_seconds1 - total_seconds2)

# Example usage:
time1 = "10:00:00"
day1 = 'Tuesday'
time2 = "11:30:00"
day2 = 'Thursday'

diff_seconds = time_difference_in_seconds(time1, day1, time2, day2)
print(f"ความแตกต่างของเวลาระหว่าง {time1} วัน {day1} และ {time2} วัน {day2} คือ {diff_seconds} วินาที")

time3 = "18:00:00"
day3 = 'Sunday'
time4 = "23:45:00"

diff_seconds2 = time_difference_in_seconds(time3, day3, time4)
print(f"ความแตกต่างของเวลาระหว่าง {time3} วัน {day3} และ {time4} คือ {diff_seconds2} วินาที")

ความแตกต่างของเวลาระหว่าง 10:00:00 วัน Tuesday และ 11:30:00 วัน Thursday คือ 178200 วินาที
ความแตกต่างของเวลาระหว่าง 18:00:00 วัน Sunday และ 23:45:00 คือ 20700 วินาที

 #  HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้

[
    
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time

    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time

    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight

    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)

    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference

    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)

    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day

    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day

    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later

    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

In [16]:
from datetime import datetime

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
    seconds_per_day = 24 * 3600

    def parse_time_and_weekday(time_str, weekday):
        h, m, s = map(int, time_str.split(':'))
        total_seconds = day[weekday] * seconds_per_day + h * 3600 + m * 60 + s
        return total_seconds

    if weekday2 is None:
        weekday2 = weekday1

    total_seconds1 = parse_time_and_weekday(time_str1, weekday1)
    total_seconds2 = parse_time_and_weekday(time_str2, weekday2)

    return abs(total_seconds1 - total_seconds2)


data = [
("10:00:00", "Monday", "11:30:00", "Monday", 5400),  # Same day, later time
("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
("23:00:00", "Sunday", "01:00:00", "Monday", 7200),  # Cross midnight
("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
("00:00:00", "Monday", "23:59:59", "Monday", 24*3600 - 1), # Almost 24 hours later
("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

for time_str1, weekday1, time_str2, weekday2, expected_result in data:
    result = time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2)
    print(f"เวลาที่ 1: {time_str1} {weekday1} และ เวลาที่ 2: {time_str2} {weekday2}")
    print(f"ความแตกต่างของเวลาที่คำนวณได้: {result} วินาที")

เวลาที่ 1: 10:00:00 Monday และ เวลาที่ 2: 11:30:00 Monday
ความแตกต่างของเวลาที่คำนวณได้: 5400 วินาที
เวลาที่ 1: 11:30:00 Monday และ เวลาที่ 2: 10:00:00 Monday
ความแตกต่างของเวลาที่คำนวณได้: 5400 วินาที
เวลาที่ 1: 23:00:00 Sunday และ เวลาที่ 2: 01:00:00 Monday
ความแตกต่างของเวลาที่คำนวณได้: 597600 วินาที
เวลาที่ 1: 01:00:00 Monday และ เวลาที่ 2: 23:00:00 Sunday
ความแตกต่างของเวลาที่คำนวณได้: 597600 วินาที
เวลาที่ 1: 10:00:00 Tuesday และ เวลาที่ 2: 11:30:00 Thursday
ความแตกต่างของเวลาที่คำนวณได้: 178200 วินาที
เวลาที่ 1: 11:30:00 Thursday และ เวลาที่ 2: 10:00:00 Tuesday
ความแตกต่างของเวลาที่คำนวณได้: 178200 วินาที
เวลาที่ 1: 12:00:00 Monday และ เวลาที่ 2: 12:00:00 Monday
ความแตกต่างของเวลาที่คำนวณได้: 0 วินาที
เวลาที่ 1: 12:00:00 Monday และ เวลาที่ 2: 12:00:00 Tuesday
ความแตกต่างของเวลาที่คำนวณได้: 86400 วินาที
เวลาที่ 1: 00:00:00 Monday และ เวลาที่ 2: 23:59:59 Monday
ความแตกต่างของเวลาที่คำนวณได้: 86399 วินาที
เวลาที่ 1: 23:59:59 Sunday และ เวลาที่ 2: 00:00:00 Monday
ความแตกต่างของเวลาที่คำนวณได้: 604799 วินาที

In [11]:
# prompt: สร้างฟังก์ชันที่มีการคำนวณเวลาเป็นวินาทีและใส่การใช้ลูปเข้าไปด้วย

def time_difference_in_seconds_with_loop(data):
  """
  คำนวณความแตกต่างของเวลาในหน่วยวินาทีสำหรับรายการข้อมูลที่กำหนด

  Args:
    data: ลิสต์ของทูเพิล แต่ละทูเพิลประกอบด้วย (เวลา1, วัน1, เวลา2, วัน2 (optional), ผลลัพธ์ที่คาดหวัง (optional))
  """
  day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
  seconds_per_day = 24 * 3600

  def parse_time_and_weekday(time_str, weekday):
    h, m, s = map(int, time_str.split(':'))
    total_seconds = day[weekday] * seconds_per_day + h * 3600 + m * 60 + s
    return total_seconds

  for entry in data:
    time_str1 = entry[0]
    weekday1 = entry[1]
    time_str2 = entry[2]

    if len(entry) > 3 and isinstance(entry[3], str):
        weekday2 = entry[3]
        expected_result = entry[4] if len(entry) > 4 else None
    else:
        weekday2 = weekday1 # Set default weekday2 if not provided
        expected_result = entry[3] if len(entry) > 3 else None

    total_seconds1 = parse_time_and_weekday(time_str1, weekday1)
    total_seconds2 = parse_time_and_weekday(time_str2, weekday2)

    diff_seconds = abs(total_seconds1 - total_seconds2)

    print(f"เวลาที่ 1: {time_str1} {weekday1} และ เวลาที่ 2: {time_str2} {weekday2}")
    print(f"มีความแตกต่างของเวลาคือ: {diff_seconds} วินาที")

data_for_loop = [
    ("10:00:00", "Monday", "11:30:00", "Monday", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", "Monday", 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", "Monday", 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

time_difference_in_seconds_with_loop(data_for_loop)

เวลาที่ 1: 10:00:00 Monday และ เวลาที่ 2: 11:30:00 Monday
มีความแตกต่างของเวลาคือ: 5400 วินาที
เวลาที่ 1: 11:30:00 Monday และ เวลาที่ 2: 10:00:00 Monday
มีความแตกต่างของเวลาคือ: 5400 วินาที
เวลาที่ 1: 23:00:00 Sunday และ เวลาที่ 2: 01:00:00 Monday
มีความแตกต่างของเวลาคือ: 597600 วินาที
เวลาที่ 1: 01:00:00 Monday และ เวลาที่ 2: 23:00:00 Sunday
มีความแตกต่างของเวลาคือ: 597600 วินาที
เวลาที่ 1: 10:00:00 Tuesday และ เวลาที่ 2: 11:30:00 Thursday
มีความแตกต่างของเวลาคือ: 178200 วินาที
เวลาที่ 1: 11:30:00 Thursday และ เวลาที่ 2: 10:00:00 Tuesday
มีความแตกต่างของเวลาคือ: 178200 วินาที
เวลาที่ 1: 12:00:00 Monday และ เวลาที่ 2: 12:00:00 Monday
มีความแตกต่างของเวลาคือ: 0 วินาที
เวลาที่ 1: 12:00:00 Monday และ เวลาที่ 2: 12:00:00 Tuesday
มีความแตกต่างของเวลาคือ: 86400 วินาที
เวลาที่ 1: 00:00:00 Monday และ เวลาที่ 2: 23:59:59 Monday
มีความแตกต่างของเวลาคือ: 86399 วินาที
เวลาที่ 1: 23:59:59 Sunday และ เวลาที่ 2: 00:00:00 Monday
มีความแตกต่างของเวลาคือ: 604799 วินาที

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish